<span class="text-muted">Found technical issue? Please contact <a
    href="https://github.com/binwenwu"> Binwen Wu </a>
</span> 
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted text-center">
                <img src="https://steinbeis-3dps.eu/images/stw-stuttgart.jpg" alt="" width="32">
                School of Remote Sensing Information Engineering, Wuhan University @ Binwenwu . 2024 ~
        </span> 
    </div>
</footer>